services:
  nginx:
    build: ./build
    image: nginx
    container_name: nginx
    restart: always
    ulimits:
      nofile:
        soft: 204800
        hard: 204800
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./conf/nginx.conf:/etc/nginx/nginx.conf
      - ./conf/.conf:/etc/nginx/.conf
      - ./conf/conf.d:/etc/nginx/conf.d
      - ./webroot:/etc/nginx/webroot
      - ./letsencrypt:/etc/letsencrypt
      - ./log:/var/log/nginx
    networks:
      nginx_net:
        aliases:
          - nginx

  nginx-exporter:
    image: nginx/nginx-prometheus-exporter:latest
    container_name: nginx-exporter
    command:
      - --nginx.scrape-uri=http://nginx:61080/nginx_status
    ports:
      - "9113:9113"
    depends_on:
      - nginx
    networks:
      nginx_net:
        aliases:
          - nginx-exporter

networks:
  nginx_net:
    name: nginx_net
    driver: bridge
